h1{
    text-align: center;
    font-size: 45px;
}

img{
    filter: drop-shadow(0 0 20px black)
}

.tech-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .tech-skills img{
        width: 4rem;
        margin: 1rem;
        align-self: center;
    }

.aws-logo{
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
}
.software-project{
    margin-bottom: 3rem;
    font-size: 22px;
}
    .software-project h2{
        font-size: 26px;
        margin-bottom: 2rem;
    }
    .software-project img{
        border-radius: 10px;
    
    }
    .software-project i{
        margin-bottom: 40px;
    }

td{
    padding: 3rem;
}

.first-cell{
    border-right: 1px solid gray;
    text-align: center;
    width: 400px;
}

.bold{
    font-weight: bold;
}